body{
    background-image: url("/Design-O-Flex Images Round 1/Waves/wave-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 215%;    
    
}
*{
    padding: 0;
    margin: 0;
}
.main{        
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    margin: auto;
}
.u-main{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    gap: 466px  ;
}
.u-main-txt{
    display: inline-block;
    width: 50%;
    text-align: right;
    color: #fff;    
    word-wrap: break-word;
}
.l-main{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    gap: 405px;    
}
.l-main-txt{
    text-align: left;
    width: 50%;
    color: #fff;    
    word-wrap: break-word;
}
h1{
    font-family: 'Righteous', cursive; 
    font-size: 60px;   
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}
.l-media{
    position: relative;
    padding: 12px;
    height: 255px;
    width: 255px;

}
.l-media-img{
    position: relative;
    height: 255px;
    width: 300px;
}