body{
    background-color: #521755;
}
.html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

#home .navBar{
    font-family: 'Righteous', cursive;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-self: center;
}
.navBar-nav{
    position: fixed;
    right: 0;
    padding-top: 50px;
    padding-right: 100px;
    gap: 35px;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: transparent;
    text-align: center;
    color: white;
    justify-self: center;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
}
.logo{
    height: 100px;
    width: 100px;
    padding: 20px;
    position: fixed;
}
.main-content{
    display: flex;
    flex-direction: row;    
    align-items: center;
    position: fixed;  
    margin: 20vh;
    margin-left: 250px;
    gap: 80px;
    width: 100%;
}
.m-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    text-align: center;
    align-items: center;
    text-decoration: none;
    justify-self: center;
    color: white;
    font-family: 'Righteous', cursive;    
}
.m-img{
    margin-left: 10px;
    justify-self: center;
    justify-content: center;
    position: relative;
}
.h-1{
    font-size: 96px;
}
.h-2{
    font-size: 64px;
}
.h-3{
    font-size: 48px;
}
.gs-btn{
    border: none;
    overflow: hidden;
    background-color: #1E95F6;
    width: 200px;
    height: 35px;
    border-radius: 20px;
}
.gs-btn-txt{
    text-align: center;
    color: white;
    font-size: 20px;
}
.bottom-background{
    position: fixed;
    bottom: 0px;
    height: 150px;
    width: 100%;

}